# Arquivos de Build/Compilação
[Bb]in/
[Oo]bj/
*.log
*.vspscc
*.vssscc

# Pacotes NuGet
*.nupkg
# Diretórios de pacotes NuGet
packages/

# Arquivos do Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsp
*.vsz
*.resx.log

# Diretórios de Usuário
.vs/         # Arquivos de cache e configuração de usuário do VS 2017+
ipch/

# Arquivos de Teste
TestResults/